#body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  
}


#toggle{
    padding: 5px 20px;
}
.container{
      display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}
.black{
    width: 300px;
    height: 300px;
    background-color: red;
}
